---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Summer%20Street%20Boston,%20MA%20&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"Summer Street\",\n               \"short_name\"
        : \"Summer St\",\n               \"types\" : [ \"route\" ]\n            },\n
        \           {\n               \"long_name\" : \"Boston\",\n               \"short_name\"
        : \"Boston\",\n               \"types\" : [ \"locality\", \"political\" ]\n
        \           },\n            {\n               \"long_name\" : \"Suffolk\",\n
        \              \"short_name\" : \"Suffolk\",\n               \"types\" : [
        \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"Massachusetts\",\n               \"short_name\"
        : \"MA\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"United
        States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Summer Street, Boston, MA, USA\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 42.35920670,\n
        \                 \"lng\" : -71.03472320\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 42.33740230,\n                  \"lng\" :
        -71.06052230\n               }\n            },\n            \"location\" :
        {\n               \"lat\" : 42.34877330,\n               \"lng\" : -71.04717750\n
        \           },\n            \"location_type\" : \"GEOMETRIC_CENTER\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 42.35920670,\n
        \                 \"lng\" : -71.03472320\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 42.33740230,\n                  \"lng\" :
        -71.06052230\n               }\n            }\n         },\n         \"types\"
        : [ \"route\" ]\n      },\n      {\n         \"address_components\" : [\n
        \           {\n               \"long_name\" : \"Summer Street[...]
[...]
