%section
  %h2
    Recommendations
  %h3
    %span
      Title
  %h3
    %span
      Title
  %h5
    - trainer_profile.recommendations.each do |recommendation|
      %span
        = recommendation.title
      %span
        = recommendation.content
      %span 
        - if can? :update, recommendation
          = button_to "Edit Recommendation", edit_trainer_profile_recommendation_path(trainer_profile, recommendation), method: :get
        - if can? :destroy, recommendation
          = button_to "Delete Recommendation", trainer_profile_recommendation_path(trainer_profile, recommendation), method: :delete

