%div.main-image
  %div.search-holder
    = render 'layouts/search_form'
  = render 'layouts/notifications'

.trainer-banner
  .row
    .large-9.small-centered.columns
      %h2.subheader.get-listed-text
        %span
          Are you a trainer? Fitzo is free!
        = link_to "Get Listed", new_user_registration_path(role: "trainer"),
          class: 'button tiny get-listed'
  .row
    .large-9.small-centered.columns
      %h4.subheader
        Looking for trainers? 
        = link_to "Sign up", new_user_registration_path(role: "member")

