%div.main-image
  %div.search-holder
    = render 'layouts/search_form'
  = render 'layouts/notifications'

%p
  Looking for trainers? 
  = button_to "Sign up", new_user_registration_path(role: "member"),
    class: 'button'
%p
  Trainer?
  = button_to "Get Listed", new_user_registration_path(role: "trainer"),
    class: 'button'
