.avatar-box-text .edit-btn {
  margin-top: 0.3em;
  margin-bottom: 1em;
}

.avatar-box-text .edit_trainer_profile {
  margin-bottom: 0em;
}

.edit_trainer_profile .button {
  margin-bottom: 0em;
}
.trainer_profile_specialties .checkbox {
    font-size: 0.8em;
}

.trainer_profile_specialties .control-label {
    margin-bottom: 0.3em;
    color: #31beb1;
    font-size: 1.2em;
}

.services #new-service {
  margin-left: 1em;
}

.serv-title p {
  margin-bottom: 0em;
}

.serv-title p a {
  margin-bottom: 0.5em;
}
