.main-image {
  width: 100%;
  height: 350px;
  background: url('/assets/main-image.jpg');
  background-size: cover;
  border-bottom: solid #31beb1 3px;
}

.get-listed.button{
 margin-bottom: 0em;
}

.trainer-banner {
  padding-top: 45px;
}
