.main-image {
  width: 100%;
  height: 350px;
  background: url('/assets/main-image.jpg');
  background-size: cover;
  border-bottom: solid #31beb1 3px;
}

.get-listed-text span {
  margin-right: 10px;
}

.get-listed.button{
 margin-bottom: 0em;
 font-weight: normal;
}

.trainer-banner {
  padding-top: 45px;
}


