.contact-info .about {
}

.trainer-map .map_container {
  max-height: 304px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.row.profile-divider {
  height: 1px;
  border-bottom: dashed 3px #ACACAC;
  margin: 1em 3em;
}
