.contact-info .about {
  // min-width: 250px;
  // max-height: 200px;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
}

.trainer-map .map_container {
  max-height: 318px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.row.profile-divider {
  // background-color: #31beb1;
  height: 1px;
  border-bottom: dashed 3px #ACACAC;
  margin: 1em 3em;
  // margin-top: 1em;
  // margin-right: 3em;
  // margin-left:  3em;
}
