.row .profile-info {
  margin-top: 2em;
}

.section h3 {
  background: #686868;
  color: #fff;
  display: inline;
  line-height: 1.7em;
  padding: 0.3em 0.5em;
  margin-left: 1em;
}

.section .section-border {
  height: 1px;
  background: #686868;
  margin-right: 1em;
  margin-left: 1.7em;
  margin-bottom: 1em;
}
