.services .service {
  padding-bottom: 0.7em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border-bottom: 1px solid #ACACAC;
}

.row .services {
  margin-top: 1em;
}

.services .service .columns {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.services .service h6 {
  color: #31beb1;
}

.services h3 {
  background: #686868;
  color: #fff;
  display: inline;
  line-height: 1.7em;
  padding: 0.3em 0.5em;
  margin-left: 1em;
}

.services .section-border {
  height: 1px;
  background: #686868;
  margin-right: 1em;
  margin-left: 1.7em;
  margin-bottom: 1em;
}
