.services .service {
  padding-bottom: 0.7em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border-bottom: 1px solid #ACACAC;
}

.row .services {
  margin-top: 1em;
}

.services .service .columns {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.services .service h6 {
  color: #31beb1;
}
