.search-map {
  margin-top: 1em;
}

.row.profile-box {
  height: 3.9em;
  background: #fff;
  border: solid 1px #ccc;
  margin-top: 0.75em;
  margin-left: 0;
  margin-right: 0.3em;
}

.row.pag-links {
  margin-top: 0.75em;
  margin-left: 0;
}

.row .avatar img {
  margin-left: 1.5em;
  margin-top: 0.5em;
}
