.search-map {
  margin-top: 1em;
}

.row.profile-box {
  height: 4em;
  background: #fff;
  border: solid 1px #ccc;
  margin-top: 0.75em;
  margin-left: 0;
  margin-right: 0.3em;
}

.row.pag-links {
  margin-top: .75em;
  margin-left: 0;
}
