---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=337%20Summer%20Street%20Boston,%20MA%2002210&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"337\",\n               \"short_name\"
        : \"337\",\n               \"types\" : [ \"street_number\" ]\n            },\n
        \           {\n               \"long_name\" : \"Summer Street\",\n               \"short_name\"
        : \"Summer St\",\n               \"types\" : [ \"route\" ]\n            },\n
        \           {\n               \"long_name\" : \"Fort Point\",\n               \"short_name\"
        : \"Fort Point\",\n               \"types\" : [ \"neighborhood\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Boston[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=123%20Something,%20MA%2012345&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"Schenectady\",\n               \"short_name\"
        : \"Schenectady\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Schenectady\",\n
        \              \"short_name\" : \"Schenectady\",\n               \"types\"
        : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"New York\",\n               \"short_name\"
        : \"NY\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"United
        States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Schenectady, NY, USA\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 42.84369710,\n
        \                 \"lng\" : -73.89304199999999\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 42.76343190,\n                  \"lng\" :
        -73.9832450\n               }\n            },\n            \"location\" :
        {\n               \"lat\" : 42.81424320,\n               \"lng\" : -73.93956870\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 42.84369710,\n
        \                 \"lng\" : -73.89304199999999\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 42.76343190,\n                  \"lng\" :
        -73.9832450\n               }\n            }\n         },\n         \"partial_match\"
        : true,\n         \"types\" : [ \"locality\", \"political\" ]\n      },\n
        \     {\n         \"address_components\" : [\n            {\n               \"long_name\"
        : \"12345\",\n               \"short_name\" : \"12345\",\n               \"types\"
        : [ \"postal_code\" ]\n            },\n            {\n               \"long_name\"
        : \"Schenectady\",\n               \"short_name\" : \"Schenectady\",\n               \"types\"
        : [ \"locality\", \"political\" ]\n [...]
[...]
