body {
  background-image:url('/assets/furley_bg.png')
}
.notification {
  margin-top: 20px;
  margin-bottom: -25px;
}

/////////// navbar ///////////////

#nav-sign-up {
  color: #f88a36;
  font-size: 1em;
}

.title-area .name {
  padding-left: 25px;
}

.title-area .name a {
  font-size: 1.5em;
}


//////////// Footer //////////////

$footer-height: 3em;

html, body { height: 100%; }

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto ($footer-height * -1);
}
#wrap > *:last-child {
    padding-bottom: $footer-height;
}

#footer {
  background: #686868;
  height: $footer-height;
}

#footer h5 {
  padding-top: 0.75em;
  color: #fff;
}
