.row.info-win
	.left.small-2.large-2.columns.info-win-avatar
		= image_tag location.trainer_profile.user.avatar_url(:micro)
	.left.small-8.large-8.columns.info-win-text
		%h6
			= link_to "#{location.trainer_profile_owner_name}", 
				trainer_profile_path(location.trainer_profile)
		%p.subheader.truncate
			= location.full_address

